<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="mssqlConnection" connectionString="server=.;Initial Catalog=informationSystem;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false"/>
    <authentication mode="Windows"/>
  </system.web>
</configuration>